.carousel-example .swiper-container .swiper-slide {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 500px;
}
.feature {
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-left: 1rem;
  margin-right: 1rem;
}
.feature-content {
  padding-left: 2rem;
}
.title {
  font-size: 45px;
  letter-spacing: 0.05rem;
  font-weight: 500;
  color: #636363;
}
.box-logo {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  max-width: 350px;
  .logo {
    background-size: cover;
    width: 180px;
    height: auto;
  }
}
.background-image {
  background-image: url('../../../assets/images/background/background.png');
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
  height: 90vh;
}
.list-icon {
  margin-top: 40px;
  text-align: center;
  .item-icon {
    padding: 20px 15px;
    display: inline-block;
    a {
      i {
        font-size: 70px;
      }
    }
  }
}
.hot-line {
  background:linear-gradient(120deg, #7f7fd5, #86a8e7, #91eae4) !important;
  color: #fff !important;
  text-align: center !important;
  h2 {
    color: #fff;
  }
}
.background-white {
  background: #fff;
}
.google-map {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background: gray;
}
.swiper-slide {
  width: 100%;
  background-size: cover;
  background: url('../../../assets/images/slides/slide2.png') center center no-repeat fixed;
}
